@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --color-parrafos: rgba(0, 0, 0, 0.6);
    --color-encabezados: rgba(0, 0, 0, 0.8);
    --color-menu: #b0c7ed;
    --bg-color-header: #222d33;
}

header {
    background-color: var(--bg-color-header);
    color: #fff;
    height: 45px;
}

p,
label {
    color: var(--color-parrafos);
    font-family: 'Nunito Sans', sans-serif;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

nav li {
    margin-bottom: auto;
    margin-top: auto;
    padding: 7px 15px;
}

nav li a {
    color: var(--color-menu);
    font-size: 0.75rem;
    display: block;
    margin: auto;
    text-transform: capitalize;
    transition: all 0.3s;
    position: relative;
}

nav li a::before {
    content: "";
    display: block;
    width: 0;
    height: 1.5px;
    background: #fff;
    position: absolute;
    bottom: -3px;
    transition: all 0.15s ease-in-out;
    left: 50%;
    opacity: 0.5;
}

nav > li > a:hover::before {
    width: 100%;
    left: 0;
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-encabezados);
    font-family: 'Nunito Sans', sans-serif;
}

.logo {
    height: 100%;
    padding: 3px;
    display: flex;
}

.logo img {
    height: 30px;
    margin-bottom: auto;
    margin-top: auto;
}

/*========================================
===== EMPIEZAN LOS ESTILOS GENERALES =====
========================================*/

.alto-full {
    height: 100%;
}

.ds_container {
    margin: auto;
    max-width: 1200px;
    width: 100%;
}

.ds-container-full {
    width: 100%;
    display: flex;
}

.ds_row-12 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

.ds_row-12 > div {
    background-color: rgba(0, 0, 0, 0.0);
}

/*----- ----- EMPIEZAN LAS COLUMNAS ----- -----*/

.ds_col-1 {
    grid-column: span 1;
}

.ds_col-2 {
    grid-column: span 2;
}

.ds_col-3 {
    grid-column: span 3;
}

.ds_col-4 {
    grid-column: span 4;
}

.ds_col-5 {
    grid-column: span 5;
}

.ds_col-6 {
    grid-column: span 6;
}

.ds_col-7 {
    grid-column: span 7;
}

.ds_col-8 {
    grid-column: span 8;
}

.ds_col-9 {
    grid-column: span 9;
}

.ds_col-10 {
    grid-column: span 10;
}

.ds_col-11 {
    grid-column: span 11;
}

.ds_col-12 {
    grid-column: span 12;
}

/*----- ----- TERMINAN LOS ESTILOS PARA LAS COLUMNAS ----- -----*/

/*----- ----- EMPIEZAN LOS ESTILOS PARA LOS PADDINGS ----- -----*/

.ds_pad-5 {
    padding: 5px;
}

.ds_pad-15 {
    padding: 15px;
}

.ds_pad-20 {
    padding: 20px;
}

.ds_pad-25 {
    padding: 25px;
}

.ds_pad-30 {
    padding: 30px;
}

.ds_pad-35 {
    padding: 35px;
}

.ds_pad-40 {
    padding: 40px;
}

.ds_pad-45 {
    padding: 45px;
}

.ds_pad-50 {
    padding: 50px;
}

.ds_pad-10 {
    padding: 10px;
}

/*----- ----- TERMINAN LOS ESTILOS PARA LOS PADDINGS ----- -----*/

/*----- ----- ESTILOS PARA LOS DISPLAYS ----- -----*/

.flexible {
    display: flex;
    flex-wrap: wrap;
}

.right {
    margin-left: auto;
}

/*----- ----- TERMINAN LOS ESTILOS PARA LOS DISPLAYS ----- -----*/

/*========================================
===== TERMINAN LOS ESTILOS GENERALES =====
========================================*/

.btn-signup {
    border: 1px solid var(--color-menu);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.btn-signup a {
    transition: all 0.1s ease-in-out;
}

.btn-signup:hover {
    border: 1px solid #ff456a;
    background-color: #ff456a;
}

.btn-signup:hover > a {
    color: #fff;
}

#btn-menu {
    display: none;
}

.fondo-azul {
    background: linear-gradient(102deg, #0051bb, #1476fb);
    height: 200px;
    position: relative;
}

.fondo-azul > h2,
p {
    text-align: center;
    color: #fff;
}

.fondo-azul h2 {
    font-weight: 400;
}

.fondo-azul p {
    font-weight: 300;
}

/*===================================
===== EMPIEZAN LOS MEDIA QUERYS =====
===================================*/

@media (max-width:900px) {
    nav {
        background-color: var(--bg-color-header);
        padding: 10px;
    }
    nav li {
        display: block;
        width: 100%;
    }
    .right {
        width: 100%;
    }
    .menu {
        transform: translateX(-100%);
        position: absolute;
        background-color: var(--bg-color-header);
        top: 45px;
        left: 0;
        width: 100%;
        transition: all 0.3s;
        z-index: 10;
    }
    .logo {
        grid-column: span 12;
    }
    #btn-menu {
        display: inherit;
        margin-left: auto;
    }
    #btn-menu label {
        color: #fff;
        margin: auto;
        font-size: 1.2rem;
        cursor: pointer;
    }
}

/*===================================
===== TERMINAN LOS MEDIA QUERYS =====
===================================*/
